@import url("/assets/style/font.css");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}
:root {
  --mainBlack: #222;
  --mainWhite: #fff;
  --bodyColor: #f6f6f6;
  --mainColor: green;
}
html{
  font-size: 62.5%;
}
body {
  font-family: "Yekan";
  background-color: var(--bodyColor);
  display: flex;
  flex-flow: column;
  align-items: center;
}
.title {
  margin: 3rem 0;
  font-size: 3rem;
  font-weight: bold;
  color: var(--mainColor);
}

form {
  display: flex;
  justify-content: center;
  margin-bottom: 4rem;
}
form .todo-input {
  flex-grow: 1;
  border: 1px solid var(--mainColor);
  border-radius: 20px;
  width: 40rem;
  padding: 1.2rem 2rem;
  font-family: 'Yekan';
  font-size: 1.6rem;
}
.todo-input::placeholder{
  font-size: 1.6rem;
}
form .todo-submit,
form .todo-input {
  outline: 0;
  background-color: var(--mainWhite);
}
form .todo-submit {
  cursor: pointer;
  border: 0;
  color: var(--mainColor);
  transform: translateX(-45px);
  padding: 0.2rem;
  margin: auto 0;
  border-radius: 100%;
  transition: all 0.3s ease-in-out;
}
form .todo-submit:hover{
  background-color: green;
  color: white;
}
.todo-submit i{
  vertical-align: middle;
}
fieldset{
  border: 1px solid var(--mainColor);
  box-shadow: 0 5px 5px 2px rgba(0, 0, 0, 0.07);
  border-radius: 15px;
  width: 40rem;
  opacity: 0;
  transition: all 0.2s ease-in-out;
  margin-bottom: 5rem;
}
fieldset legend {
  font-size: 1.8rem;
  font-weight: bold;
  text-align: center;
}
.filter-todo-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  
}
.filter-container #todo-filter{
  outline: 0;
  border: 1px solid var(--mainColor);
  border-radius: 12px;
  appearance: none;
  padding: 0.7rem 1rem;
  width: 100%;
  text-align: center;
  font-family: 'Yekan';
  font-weight: bold;
  font-size: 1.5rem;
}
.filter-container{
  width:14rem;
  cursor: pointer;
  position: relative;
}
.filter-container::after{
  content:"\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
  color: var(--mainColor);
  pointer-events: none;
}
.todo-container, .completed-todo-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.completed-todo-container{
  display: none;
  transition: all 0.2s ease-in-out;
}
h3{
  border-bottom: 1px solid #ccc;
  text-align: center;
  margin: 3rem 0 2rem;
  font-size: 1.8rem;
  line-height: 0.2rem;
  width: 100%;
}
h3 span{
  background-color: var(--bodyColor);
  padding: 0 0.7rem;
}
.todo {
  display: flex;
  justify-content: space-between;
  background-color: var(--mainWhite);
  border: 1px solid var(--mainColor);
  border-radius: 10px;
  padding: 0.5rem 1rem;
  font-size: 1.4rem;
  margin: 1rem 0;
}
.todo li {
  flex-grow: 1;
  font-size: 1.5rem;
}
.todo span{
  margin-left: 0.5rem;
  cursor: pointer;
}
.fa-square-check{
  color: rgb(114, 175, 22);
}
.fa-pen-to-square{
  color: rgb(2, 2, 187);
}
.fa-trash-alt{
  color: rgb(238, 52, 52);
}
.completed{
  opacity: 0.5;
  text-decoration: line-through;
}